@model IEnumerable<TeliconLatest.Models.MaterialUsageDetail>
@{
    Layout = null;
}
<div class="print-holder">
    <div class="bottom">
        <h2 class="title" style="margin:10px 0;">Material Usage Detail Report</h2>
        @if (ViewBag.DateFrom != null && ViewBag.DateTo != null)
        {
            <h2 class="title" style="margin:10px 0;">Period Starting @string.Format("{0:dddd MMMM dd, yyyy}", ViewBag.DateFrom) to @string.Format("{0:dddd MMMM dd, yyyy}", ViewBag.DateTo)</h2>
        }
        <table class="prt-data report-table">
            <thead>
                <tr>
                    <th width="80">Nos.</th>
                    <th width="250">Activity</th>
                    <th width="80">Qty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var refNo in Model.Select(x => x.Wo_ref).Distinct())
                {
                    int n = 1;
                    var list = Model.Where(x => x.Wo_ref == refNo).ToList();
                    <tr>
                        <td colspan="3" class="main-title" style="text-align:left; padding:5px;">Work order: @refNo - @list[0].Wo_title</td>
                    </tr>
                    foreach (var row in list)
                    {
                        <tr>
                            <td>@n</td>
                            <td style="text-align:left;">@row.RateDescr</td>
                            <td class="number" style="text-align:right;">@row.WoMatQty</td>
                        </tr>
                    }
                    <tr class="totals">
                        <td colspan="2" style="text-align:right;">Total:</td>
                        <td class="number" style="text-align:right">@list.Sum(x => x.WoMatQty)</td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>   
    @using (Html.BeginForm("MaterialUsageDetailsToExcel", "Report", FormMethod.Post))
    {
        <input type="hidden" name="dateFrom" value="@ViewBag.dateFrom" />
        <input type="hidden" name="dateTo" value="@ViewBag.dateTo" />
        <input type="hidden" name="matId" value="@ViewBag.MatId" />
        
        <button class="export-clicker" type="submit"><i class="fe-export-1"></i></button>
        <button class="print-clicker"><i class="fe-print-1"></i></button>
    }
</div>