@model IEnumerable<TeliconLatest.Models.WorkOrderReferencePartial>
@{
    Layout = null;
    var invNos = (List<SelectListItem>)ViewBag.InvNOs;
    bool invoiced = (bool)ViewBag.Invoiced;
    int invoiceId = (int)ViewBag.InvoiceID;
}

<div id="inv" class="animated bounceInRight">
    <input type="hidden" id="invIdHidden" value="@ViewBag.id" />
    <button class="close"><i class="fe-cancel"></i></button>
    <div id="inv-left" class="inv-holder">
        <div class="filter clearfix">
            <h1 class="title-filter">Filters</h1>
        </div>
        <form class="filter-holder" style="height:460px;">
            <table>
                <tr>
                    <td colspan="2"><label>Company</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DropDownList("client", (List<SelectListItem>)ViewBag.Clients, new { style = "width:310px;" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label>PO Number</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DropDownList("po", (List<SelectListItem>)ViewBag.POs, "", new { style = "width:100%;" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label>Classification</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DropDownList("classifi", (List<SelectListItem>)ViewBag.Classifis, "", new { style = "width:100%;" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label>Region</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DropDownList("region", (List<SelectListItem>)ViewBag.Zones, "", new { style = "width:100%;" })
                    </td>
                </tr>
                <tr><td colspan="2"><label>Date Range</label></td></tr>
                <tr>
                    <td colspan="2">
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" name="dateFrom" id="dateFrom" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="dateTo" id="dateTo"/>
                        </div>
                    </td>
                </tr>
            </table>
        </form>   
        <div class="inv-bot" style="text-align:center;">
            <button class="inv-search">Search</button>
        </div>     
    </div>
    <div id="inv-right" class="inv-holder">
        <div class="top title clearfix">
            <span style="float:left; margin:15px 15px;">Work Order</span>
            <div class="title-editor clearfix">
                <input type="text" class="form-control" placeholder="Enter Invoice Title" id="txtTitle" value="@ViewBag.Title" style="margin:10px 15px 15px 15px; width:450px;"/>
            </div>
        </div>
        <div class="center">
            <div class="workorder-holder">
                <div class="filler">
                    <i class="fe-flow-merge"></i>
                    <h1>Select the Filters and Search!</h1>
                </div>
            </div>
        </div>
        <div class="bottom clearfix">            
                @if (invoiced == true)
                {
                    <h1 class="total animated" style="float:left; margin-right: 10px;">
                        Invoice No.:
                        <span @(!invoiced ? "title='Invoice ID is always assumed'" : "")>
                            @(invoiceId)
                            @if (!invoiced)
                            {
                                <i class="fe-help-circled"></i>
                            }
                        </span>
                    </h1>
                    if (!invoiced)
                    {
                        <button class="inv-process" style="width: 90px; height: 28px;margin-top: 4px;">Process</button>
                    }
                }
                else
                {
                    <h1 class="total animated" style="float:left; margin-right: 10px;">Invoice No.:</h1>
                    invNos.Insert(0, new SelectListItem { Text = "", Value = "" });
                    @Html.DropDownList("ddl-invoice-no", invNos, new { style = "width:110px; margin-top: -2px;" })
                    <button class="inv-process" style="width: 90px; height: 28px;margin-top: 4px;">Process</button>
                }            
            @*<button class="inv-btn"><i class="fe-flow-merge"></i></button>*@
            <h1 class="total animated tot" data-total="0">Total: <span>$0.00</span></h1>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("select").select2({ minimumResultsForSearch: -1, width: "resolve" });
        $('.filter-holder .input-daterange').datepicker({ format: "mm/dd/yyyy" });
        var code = '@ViewBag.RefCode';
        var id = '@ViewBag.id';
        if (code != "") {
            LoadInvWOs(code, id);
        }
        //$(document).on("click", ".inv-process", function (e) {
        //    var rows = $(".workorder-holder table > tbody  > tr");
        //    if (rows.length < 1) {
        //        var htmlMsg = "<p>No <b class='loc-col'>Work Order(s)</b> have been selected for <b class='date-col'>Process</b>. First select your desired <b class='loc-col'>Work Order(s)</b> then try again.</p>";
        //        var htmlTitle = "<i class='fe-comment'></i>Cannot Process";
        //        displayDialogMsg(htmlMsg, htmlTitle);
        //    }
        //    else {
        //        rows = $.grep(rows, function (row) {
        //            var self = $(row).find("button");
        //            var isChecked = $(self).is(".active");
        //            return isChecked;
        //        });
        //        var ids = $.map(rows, function (elm) { return $(elm).attr("id").replace("tr-", ""); });
        //        var masterId = Math.min.apply(Math, ids);
        //        ids = $.grep(ids, function (id) {
        //            return id != masterId;
        //        });
        //        if (ids.length > 0) {
        //            var buttons = [
        //                { text: "Continue", click: function () { $(this).dialog("close"); Saveinv(ids, masterId, $(this)); } },
        //                { text: "Cancel", click: function () { $(this).dialog("close"); } }
        //            ];
        //            var msg = "<p>Selected <b class='date-col'>Work Orders</b>, will be <b class='default-col'>Process</b>. Are you sure you want to Continue?</p></div>";
        //            displayConfirmationMsg(msg, 'Process Confirmation', buttons);
        //        }
        //        else {
        //            var htmlMsg = "<p>No <b class='loc-col'>Work Order(s)</b> have been selected for <b class='date-col'>Process</b>. First select your desired <b class='loc-col'>Work Order(s)</b> then try again.</p>";
        //            var htmlTitle = "<i class='fe-comment'></i>Cannot Process";
        //            displayDialogMsg(htmlMsg, htmlTitle);
        //        }
        //    }
        //    e.preventDefault();
        //});
    });

    @*function Saveinv(ids, masterId, dBox) {
        loading(true);
        var isUpdate = $("#invIdHidden").val() != undefined && $("#invIdHidden").val() != "" && $("#invIdHidden").val() != "" ? true : false;
        $.ajax({
            url: "@Url.Action("ProcessWorkOrders", "invoice")",
            data: $.toDictionary({ wOIds: ids, invoiceId: $("#invIdHidden").val(), isUpdate: isUpdate, id: $("#invIdHidden").val(), title: $("#txtTitle").val() }),
            type: "post",
            success: function (r) {
                removeLoader(true, 200, function () {
                    var htmlMsg = "";
                    var htmlTitle = "";
                    if (r.Code == "100") {
                        $("#invIdHidden").val(r.Additional);
                        htmlMsg = "<p>Work Orders were <b>Processed</b> Successfully!.</p>";
                        htmlTitle = "<i class='fe-comment'></i> Success";
                        dTable2.draw();
                    }
                    else {
                        htmlMsg = r.Msg;
                        htmlTitle = "<i class='fe-comment'></i>Cannot Process";
                    }
                    displayDialogMsg(htmlMsg, htmlTitle);
                });
                try{
                    dBox.dialog("close");
                }
                catch(e){

                }
            }
        });
    }*@
</script>