@model IEnumerable<TeliconLatest.Models.CategoryInvoiceReport>
@{
    Layout = null;
    decimal GrandTotal = 0;
    int count = 0;
}
@if (Model.Any())
{
    <div class="print-holder">
        <div class="bottom">

            <h2 class="title">Invoice By Category Report</h2>
            <h2 class="title" style="margin:20px 0;">Period Starting @string.Format("{0:dddd MMMM dd, yyyy}", ViewBag.DateFrom) to @string.Format("{0:dddd MMMM dd, yyyy}", ViewBag.DateTo)</h2>
            <table class="prt-data report-table">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>CATEGORY</th>
                        <th style="text-align: right;">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        GrandTotal = GrandTotal + row.Total;
                        count++;
                        <tr>
                            <td>@count</td>
                            <td style="text-align:left"><a href="#" onclick="ShowInvoiceSummary('@ViewBag.DateFrom', '@ViewBag.DateTo', '@row.CategoryID')">@row.Category</a></td>
                            <td style="text-align: right; color:#000;" class="number"><label>@String.Format("{0:n2}", row.Total)</label></td>
                        </tr>
                    }

                    <tr><td colspan="2"><b>Grand Total</b></td><td style="text-align: right; color:#000;" class="number"><label>@String.Format("{0:n2}", GrandTotal)</label></td></tr>
                </tbody>
            </table>
        </div>
        <button class="print-clicker"><i class="fe-print-1"></i></button>
    </div>
}
else
{
    <div class="filler animated tada">
        <i class="mdi mdi-emoticon-sad"></i>
        <h1>No results found</h1>
        <h2>Please change your filter and try again.</h2>
    </div>
}



<script type="text/javascript">
    function ShowInvoiceSummary(fromDate, toDate, classId) {        
        loading(true);
        $.ajax({
            url: '/report/CategoryInvoiceStatementInvoiceSummary',
            type: "post",
            data: { fromDate: fromDate, toDate: toDate, classId: classId },
            success: function (html) {
                console.log(html)
                removeLoader(true, 300, function () {
                    $(".overlay").hide();
                    var overlay = $("#drillDown");
                    overlay.find(".overlay-body").html(html);
                    if (!overlay.is(":visible"))
                        overlay.show(200);
                });
            }
        });
    }
    $('.number').text(function () {
        var str = $(this).text() + '';
        x = str.split('.');
        x1 = x[0]; x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        $(this).html(x1 + x2);
    });
</script>