@model List<TeliconLatest.Models.InstallationSummaryData>
@{
    Layout = null;
}
<style>
    .print-holder {
        width: 1050px;
    }

        .print-holder table tr th {
            text-align: center;
            vertical-align: middle;
            font-size: 14px;
            padding: 0px 5px;
            line-height: 23px;
        }

        .print-holder table tr td {
            line-height: 23px;
            vertical-align: middle;
            text-align: center;
        }

        .print-holder .bottom .prt-data tr td, .print-holder .bottom .prt-data tr th {
            padding: 1px;
        }

    .total-row td {
        font-weight: bold;
        border-top: 2px solid #3c81cc;
    }
</style>
@if (Model.Count > 0)
{
    int i = 1;
    <div class="print-holder">
        <div class="bottom">
            <div>
                <img src="~/Images/logo.png" style=" width: 150px; height: auto; float: left;" />
                <h2 class="title">Installation Summary</h2>
                <h2 class="title">Date : @Model[0].FromDate.ToString("dd MMM, yyyy") to @Model[0].ToDate.ToString("dd MMM, yyyy")</h2>
                @*<h2 class="title"> @Model[0].Date.Year -  @Model[0].Date.ToString("MMMM")</h2>*@
            </div>
            <table class="prt-data">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th style=" width: 250px;">Contractor</th>
                        <th>Unit</th>
                        <th>Installation</th>
                        <th>Rewire of cable</th>
                        <th>Extra Outlets</th>
                        <th>Rewire and/or<br /> SRO Outlet</th>
                        <th>Non Standard<br /> Installation</th>
                        <th>Not Done</th>
                        <th>Service Calls</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var row in Model)
                    {
                        <tr @(row.Contractor == "Total" ? "class=total-row" : "")>
                            <td>@i.ToString()</td>
                            <td style=" text-align: left;">@row.Contractor</td>
                            <td>@row.InstallationUnit</td>
                            <td>@row.InstallationQty</td>
                            <td>@row.RewireCableQty</td>
                            <td>@row.ExtraOutletsQty</td>
                            <td>@row.RewireOutletQty</td>
                            <td>@row.NonStandardQty</td>
                            <td>@row.RejectedQty</td>
                            <td>@row.ServiceCallsQty</td>
                        </tr>
                            i++;
                    }
                </tbody>
            </table>
        </div>
        <button class="print-clicker"><i class="fe-print-1"></i></button>
    </div>
}
else
{
    <div class="filler animated tada">
        <i class="mdi mdi-emoticon-sad"></i>
        <h1>No results found</h1>
        <h2>Please change your filter and try again.</h2>
    </div>
}
