@model IEnumerable<TeliconLatest.Models.POTracking>
@{
    Layout = null;
}
<div class="print-holder">
    <div class="bottom">
        <h2 class="title" style="margin:10px 0;">Purches Order Tracking Report</h2>
        @if (ViewBag.DateFrom != null && ViewBag.DateTo != null)
        {
            <h2 class="title" style="margin:10px 0;">Period Starting @string.Format("{0:dddd MMMM dd, yyyy}", ViewBag.DateFrom) to @string.Format("{0:dddd MMMM dd, yyyy}", ViewBag.DateTo)</h2>
        }
        <table class="prt-data report-table">
            <thead>
                <tr>
                    <th width="100">Ref. No.</th>
                    <th>Title</th>
                    <th width="100">RequestDt</th>
                    <th width="180">Category</th>
                    <th width="100">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var po in Model.Select(x => x.PONum.Trim()).Distinct())
                {
                    <tr>
                        <td colspan="3" class="main-title" style="text-align:left; padding:5px;">PO : @po - @ViewBag.Description</td>
                        <td colspan="2" class="main-title" style="text-align:right">PO Amount : @string.Format("{0:C}", ViewBag.POAmount)</td>
                    </tr>
                    foreach (var wo in Model.Where(x => x.PONum.Trim() == po))
                    {
                        <tr>
                            <td>@wo.WORef</td>
                            <td style="text-align:left;">@wo.WOTitle</td>
                            <td class="date">@string.Format("{0:MMM dd, yyyy}", wo.Requestdt) </td>
                            <td style="text-align:left;">@wo.Cetegory</td>
                            <td class="number" style="text-align:right;">@string.Format("{0:C}", wo.Amout)</td>
                        </tr>
                    }
                    <tr class="totals">
                        <td colspan="4" style="text-align:right;">Total:</td>
                        <td class="number" style="text-align:right">@string.Format("{0:C}", Model.Where(x => x.PONum == po).Sum(x => x.Amout))</td>
                    </tr>
                }
                <tr class="totals">
                    <td colspan="4" style="text-align:right;">Balance:</td>
                    <td class="number" style="text-align:right">@string.Format("{0:C}", ViewBag.POAmount - Model.Sum(x => x.Amout))</td>
                </tr>
            </tbody>
        </table>        
</div>
    @using (Html.BeginForm("POTrackingToExcel", "Technician", FormMethod.Post))
    {
        @*<input type="hidden" name="pdate" value="@ViewBag.pdate" />
        <input type="hidden" name="id" value="@ViewBag.id" />
        <button class="export-clicker" type="submit"><i class="fe-export-1"></i></button>*@
        <button class="print-clicker"><i class="fe-print-1"></i></button>
    }
    
</div>