@model RequesterData
<div class="top clearfix">
    <div class="comp-dets">
        <h1>P.O. BOX 3069</h1>
        <h1>Kingston 8</h1>
        <h1>Tel: (876) 630-5278</h1>
        <h1>Email: admin@telicongroup.com</h1>
    </div>
    <img src="@Url.Content("~/images/print-logo.png")" alt="telicon" />
</div>
<div class="center clearfix">
    <div class="client-dets">
        <h1><span>Co. Name:</span>@Model.ClientName</h1>
        <h1><span>Address:</span>@Model.Street</h1>
        <h1><span>&nbsp;</span>@Model.City</h1>
        <h1><span>&nbsp;</span>@Model.Country</h1>
    </div>
    <div class="admin-dets">
        <h1><span>Date:</span>@string.Format("{0:dd/MM/yyyy}", Model.Date)</h1>
        <h1><span>Ticket #:</span>@Model.ReferenceNo</h1>
    </div>
</div>

